<template>
  <el-row v-if="choosenKey && !isGeneratingKey">
    <p>{{choosenKey.uuid}}</p>
    <br/>
    <p>{{choosenKey.username}}</p>
    <br/>
    <p>{{choosenKey.email}}</p>
    <br/>
    <p>{{choosenKey.url}}</p>
    <br/>
    <p>{{choosenKey.publicKey}}</p>
    <br/>
    <p>{{choosenKey.privateKey}}</p>
    <br/>
    <button @click="removeKey(choosenKey.id)">Remove</button>
  </el-row>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  const actions = mapActions([
    'removeKey'
  ])

  const getters = mapGetters([
  'choosenKey',
  'isGeneratingKey'
  ])
  export default {
    methods: actions,
    computed: getters,
    name: "choosen-key"
  }
</script>