<template>
  <div v-if="isGeneratingKey">
    <el-form ref="form" :model="form" label-width="120px">
      <el-form-item label="Username">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="Curve">
        <el-select v-model="form.curve" placeholder="please select the curve">
          <el-option label="P256" value="P256"></el-option>
          <el-option label="P384" value="P384"></el-option>
        </el-select>
      </el-form-item>
       <el-form-item label="URL">
        <el-input v-model="form.url"></el-input>
      </el-form-item>
       <el-form-item label="Email">
        <el-input v-model="form.email"></el-input>
      </el-form-item>
      <el-form-item label="Password">
        <el-input  type="password" v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item label="Repeat password">
        <el-input  type="password" v-model="form.repeat_password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Create</el-button>
        <el-button type="primary" @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  const actions = mapActions([
    'addKey',
    'stopGeneratingKey'
  ])
  actions.onSubmit = function(){
    this.addKey(this.form)
  }
  actions.onCancel = function(){
    this.stopGeneratingKey()
  }
  const getters = mapGetters([
  'choosenKey',
  'isGeneratingKey'])
  export default {
     data() {
      return {
        form: {
          username: '',
          curve: 'P256',
          email:'',
          password:'',
          repeat_password:'',
          url:''
        }
      }
    },
    methods: actions,
    computed: getters,
    name: "choosen-key"
  }
</script>