<template>
  <div>
  <el-row>
    <el-table empty-text="empty" :data="keys" highlight-current-row @current-change="chooseKey" style="width: 100%">
    <el-table-column type="id" width="50">
    </el-table-column>
    <el-table-column  property="uuid" label="ID" width="120">
    </el-table-column>
    <el-table-column
      :context="_self"
      label="Operations">
      <template scope="scope">
          <el-button
          size="small"
          @click="handleChoose(scope.$index, scope.row)">Choose</el-button>
      </template>
    </el-table-column>
    </el-table>
  </el-row>
  <el-row>
    <button v-if="!isGeneratingKey" @click="startGeneratingKey()">Generate</button>
  </el-row>
  </div>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  const actions = mapActions([
    'removeKey',
    'chooseKey',
    'startGeneratingKey'
  ])
  actions.handleChoose = function (index, row) {
    console.log("choose", row.uuid)
    this.chooseKey(row.uuid)
    this.$router.push('/choosen/key')
  }
 
  const getters = mapGetters([
  'keys',
  'isGeneratingKey'
  ])
  export default {
    methods: actions,
    computed: getters,
    name: "list-keys"
  }
</script>