<template>
  <el-row>
    <p>{{choosenKey.uuid}}</p>
    <br/>
    <p>{{choosenKey.username}}</p>
    <br/>
    <p>{{choosenKey.email}}</p>
    <br/>
    <p>{{choosenKey.url}}</p>
    <br/>
    <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        v-model="choosenKey.publicKey"></el-input>
    <br/>
    <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        v-model="choosenKey.privateKey"></el-input>
    <br/>
    
    <button @click="signByChoosenKey()">Sign</button>
    <button @click="verifyByChoosenKey()">Verify</button>
    <button @click="encryptByChoosenKey()">Encrypt</button>
    <button @click="decryptByChoosenKey()">Decrypt</button>
    <button @click="removeKey(choosenKey.uuid)">Remove</button>
  </el-row>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  const actions = mapActions([
    'removeKey'
  ])

  actions.signByChoosenKey = function () {
    this.$router.push('/choosen/key/sign')
  }
  actions.verifyByChoosenKey = function () {
    this.$router.push('/choosen/key/verify')
  }
  actions.encryptByChoosenKey = function () {
    this.$router.push('/choosen/key/encrypt')
  }
  actions.decryptByChoosenKey = function () {
    this.$router.push('/choosen/key/decrypt')
  }
  


  const getters = mapGetters([
  'choosenKey'
  ])
  export default {
    methods: actions,
    computed: getters,
    name: "key-page"
  }
</script>