<template>
  <div>
     <el-row>
    <el-col v-show="!choosenKey"><list-keys-view></list-keys-view></el-col>
    <el-col>
      <generate-key-view></generate-key-view>
    </el-col>
     </el-row>
  </div>
</template>

<script>
  import store from 'src/vuex/store';
  import { mapGetters } from 'vuex'

  import ListKeysView from './KeysPageView/ListKeysView'
  import ChoosenKeyView from './KeysPageView/ChoosenKeyView'
  import GenerateKeyView from './KeysPageView/GenerateKeyView'
  const getters = mapGetters([
    'choosenKey',
    'isGeneratingKey'
  ])
  export default {
    store,
    components:{
      ListKeysView,
      ChoosenKeyView,
      GenerateKeyView,
    }
  }
</script>