<template>
  <div>
    <el-row>
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        v-model="getSignature"></el-input>
    </el-row>
    
    <el-row v-if="isFile">
      <input  type="file" @change="openFile">
    </el-row>
    <el-row v-else>
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        v-model="text"></el-input>
    </el-row>
    
    <el-row>
        <el-checkbox v-model="isFile">Sign file</el-checkbox>
    </el-row>
    <el-row>
        <button @click="sign()">Sign</button>
    </el-row>
  </div>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  const actions = mapActions([
    'signText',
    'signFile'
  ])
  actions.openFile = function(e) {
            e.preventDefault();
            var files = e.target.files;
            this.filepath = files[0].path
            console.log(files)
  }
  actions.sign = function(){
    if(this.isFile){
      if(this.filepath){
        console.log(this.filepath)
        this.signFile({
            privateKey: this.choosenKey.privateKey, 
            filepath: this.filepath
        })
      }
    }else{
      console.log(this.text)
      this.signText({
        privateKey: this.choosenKey.privateKey, 
        text: this.text
      })
    }
  }
  const getters = mapGetters([
    'getSignature',
    'choosenKey',
  ])
  export default {
    data:function(){
      return {
        filepath:"",
        text:"",
        isFile: false,
      }
    },
    methods: actions,
    computed: getters,
    name: "sign-page"
  }
</script>