<template>
  <el-row>
    
  </el-row>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  const actions = mapActions([
  ])

  const getters = mapGetters([
  ])
  export default {
    methods: actions,
    computed: getters,
    name: "verify-page"
  }
</script>